@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

@import 'jeet'
@import 'axis'
@import 'rupture'

@import 'shared.import'
@import '../imports/components/layout/layout.import'
@import '../imports/components/home/header.import'
@import '../imports/components/find/find.import'
@import '../imports/components/find-users/find-users.import'
@import '../imports/components/create/create.import'
@import '../imports/components/header-small/header-small.import'
@import '../imports/components/admin/categories/admin.categories.import'
@import '../imports/components/admin/users/admin.users.import'
@import '../imports/components/user/user.import'
@import '../imports/components/category/category.import'
@import '../imports/components/image-upload/image-upload.import'
@import '../imports/components/color-picker/color-picker.import'
@import '../imports/components/show-color/show-color.import'

$font-stack = $helvetica-neue
$font-size = 18
$font-color = #555

// edit()

normalize-css()
fluid-media()
border-box-html()

*
  box-sizing border-box
  outline none

body
  margin 0
  font-family 'Roboto', sans-serif
  font-size 18px
  background color-grey

a
  text-decoration none