scale = 0 480px 600px 800px 1050px

color-light = #FFFFFF
color-grey = #F8F8F8
color-dark = #000000
color-main = #F8E71C
color-secondary = #0E1720
color-calm = #45C0FF

.button
  cursor pointer
  display inline-block
  background color-main
  padding 15px 100px
  border-radius 100px
  font-size 36px
  font-weight 600
  color color-secondary

  &:hover
    hover-darken()

.line-dark
  background #0E1720
  display inline-block
  height 10px
  width 100%

.line-accent
  background #F8E71C
  display inline-block
  height 30px
  width 100%

.contain
  center()

.fz-0
  font-size 0
  
.f-r
  float right