scale = 0 480px 600px 800px 1050px

container-width = 1140px

color-light = #FFFFFF
color-grey = #F8F8F8
color-dark = #000000
color-main = #F8E71C
color-secondary = #0E1720
color-calm = #45C0FF

font-size = 18px
font-color = #000000

color-input-border = #F8E71C

.button
  cursor pointer
  display inline-block
  background color-main
  padding 15px 100px
  border-radius 100px
  font-size 36px
  font-weight 600
  color color-secondary
  border: 0

  &:hover
    hover-darken()

.line-dark
  background #0E1720
  display inline-block
  height 10px
  width 100%
  float left

.line-accent
  background #F8E71C
  display inline-block
  height 30px
  width 100%
  text-align center

.contain
  center(container-width)

.fz-0
  font-size 0
  
.f-r
  float right
  
select {
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  padding: 5px 0;
  font-size: font-size;
  color: font-color;
  border: none;
  border-bottom: 1px solid color-input-border;
}

select:focus {
  outline: none
}

.select-wrapper label 
  display none

.select-wrapper select 
  appearance none
  border-radius 0

.select-wrapper {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  position: relative;
    &:after {
      position: absolute;
      top: 0.75em;
      right: 0.5em;
      width: 0;
      height: 0;
      padding: 0;
      content: '';
      border-left: .25em solid transparent;
      border-right: .25em solid transparent;
      border-top: .375em solid color-input-border;
      pointer-events: none;
    }
}

.blue-line
  display inline-block
  height 2px
  width 130px
  background-color #45C0FF
  
.spacer
    background color-light
    height 80px
    width 100%
    box-shadow 0 5px 20px rgba(color-dark, 15%)
    display inline-block
    z-index 100
    position relative
    font-size 18px
    float left
    
.f-l
  float left
