<div class="idea">
  <div class="background-top"></div>
  <div class="wrapper">
    <div class="image-wrapper" ng-if="idea.idea.image">
      <img ng-src="{{ idea.idea.image }}" class="image">
    </div>
    <div class="title">{{ idea.idea.title }}</div>
    <div class="blue-line"></div>
    <p>{{ idea.idea.description }}</p>
    <div class="meta">
      <div class="author">{{ idea.idea.ideaOwner().emails[0].address }}</div>
      <a href="#" class="category">in {{ idea.idea.ideaCategory().name }}</a>
    </div>

    <div class="actions">
      <button ng-if="idea.idea.ideaOwner()._id === $root.currentUser._id" ng-click="idea.removeIdea()">Delete</button>
      <button ng-if="idea.idea.ideaOwner()._id !== $root.currentUser._id" ng-click="idea.removeIdea()">Like</button>
    </div>
  </div>
</div>