.idea
  display inline-block
  border-radius 8px
  width 400px
  height 600px
  box-shadow 0 10px 30px rgba(#000000, 10%)
  position relative
  background #FFFFFF
  margin 20px 150px 60px 150px
  
  .background-top
    border-radius 8px 8px 0 0
    position absolute
    top 0
    left 0
    right 0
    height 180px
    background #45C0FF
    background-image url('/images/bulb-pattern.png')

  .title
    text-transform capitalize