<div class="idea">
  <div class="background-top" ng-style="idea.categoryColor"></div>
  <div class="wrapper">
    <div class="image-wrapper" ng-if="idea.idea.image">
      <img ng-src="{{ idea.idea.image }}" class="image">
    </div>
    <div class="title">{{ idea.idea.title }}</div>
    <div class="blue-line" ng-style="idea.categoryColor"></div>
    <p>{{ idea.idea.description }}</p>
    <div class="meta">
      <div class="author">{{ idea.idea.ideaOwner().emails[0].address }}</div>
      <a ui-sref="app.find({ category: idea.idea.ideaCategory().slug })" class="category">in {{ idea.idea.ideaCategory().name }}</a>
      <div>Likes: {{idea.idea.likes}}</div>
    </div>

    <div class="actions" ng-if="$root.currentUser">
      <button ng-if="idea.idea.ideaOwner()._id === $root.currentUser._id" ng-click="idea.removeIdea()">Delete</button>
      <button ng-if="idea.idea.ideaOwner()._id !== $root.currentUser._id" ng-click="idea.likeIdea()" ng-disabled="idea.alreadyLiked">{{ idea.alreadyLiked ? 'Liked' : 'Like' }}</button>
    </div>
  </div>
</div>