<div class="find-users">
  <h2>Find Users</h2>
  <input type="text" placeholder="Search by Email" ng-model="findUsers.q" class="search" ng-change="findUsers.find(findUsers.q)">
  <div ng-repeat="user in findUsers.users">
    <a ui-sref="app.userProfile({ user: user._id })">{{ user.emails[0].address }}</a>
    <button ng-if="findUsers.showFollowButton(user)" ng-click="findUsers.follow(user)">Follow</button>
    <button ng-if="findUsers.showUnfollowButton(user)" ng-click="findUsers.unfollow(user)">Unfollow</button>
  </div>
</div>