<div class="join">
  <div class="contain">
    <div class="box">
      <h2>Get <strong>Creative</strong></h2>
      <h2>Be <strong>Open</strong></h2>
      <h2>Free <strong>Your Mind</strong></h2>
      <div class="line-accent"></div>
      <div class="copy">
        <p>Stay hungry for new ideas.</p>
        <p>Don't ve afraid to share them with the world.</p>
        <p>Build upon other ideas to create something truly great.</p>
      </div>
      <button class="button button-join">Join the Initiative</button>
    </div>
    <div class="image">
      <img src="/images/bulb-big.png" alt="">
    </div>
  </div>
</div>

<div class="spacer">
  <h2>
    <strong>Open Source <span>your Ideas</span></strong>
  </h2>
</div>

<div class="features">
  <div class="contain">
    <p class="tagline">
      You have
      <strong> a lot </strong>
      of good ideas. Share them with others and work on them together!
    </p>

    <div class="container">
      <div class="feature">
        <img src="/images/feature-search.png" alt="" height="156px" width="auto" title="Search">
        <h3>Search</h3>
        <div class="line-calm"></div>
        <p>Search ideas by various criteria. See the list of most popular ideas.</p>
      </div>
      <div class="feature">
        <img src="/images/feature-collaborate.png" alt="" height="156px" width="auto" title="Collaborate">
        <h3>Collaborate</h3>
        <div class="line-calm"></div>
        <p>Work with others on your idea! Have brainstorming discussions on how to improve it.</p>
      </div>
      <div class="feature">
        <img src="/images/feature-fork.png" alt="" height="156px" width="auto" title="Fork">
        <h3>Fork</h3>
        <div class="line-calm"></div>
        <p>Fork ideas you like and build on them to make them even more awesome!</p>
      </div>
    </div>
  </div>
</div>