<div class="category" ng-click="category.onSelected()">
  <div class="category__main">
    <show-color color="category.category.color"></show-color>
    <strong class="category__name">{{ category.category.name }}</strong>
    -
    <span class="category__description">{{ category.category.description }}</span>
  </div>

  <div class="category__actions">
    <button class="button button--small button--inline" ng-click="category.removeCategory(category.category)">
      <i class="fa fa-trash"></i>
    </button>
  </div>
</div>