.idea
  .idea-create-form
    position absolute
    height 100%
    width 100%
    z-index 1
    text-align center
    
    .fields
      width 100%
      padding 0 70px
    
    input,
    textarea
      box-shadow none
      border 0
      border-bottom 1px solid #F8E71C
      outline 0
      width 100%
    
    .title
      font-size 22px

    .description
      font-size 18px

    .title,
    .description
      margin-top 15px
  
  .create
    position absolute
    display inline-block
    bottom 0
    left 0
    right 0
    width 100%
    border 0
    box-shadow none
    background #F8E71C
    padding 10px
    font-size 18px
    border-radius 0 0 8px 8px
    hover-darken()

  .image-upload
    margin-top 60px