<div class="spacer">
  <div class="menu-toggle" ng-click="navigation.toggleMenu()">blp</div>
  <div class="menu" ng-show="navigation.showMenu">
    <a href="#" class="menu-item">Get Free</a>
    <a href="#" class="menu-item">About us</a>
    <a href="#" class="menu-item">Where &amp; Why</a>
    <a href="#" class="menu-item">Subscribe</a>
    <a href="#" class="menu-item">Fresh News</a>
    <a href="#" class="menu-item">Contact us</a>
  </div>

</div>
hello, Admin

<a ui-sref="admin.categories">Categories</a>
<a ui-sref="admin.users">Users</a>
<a ui-sref="app.liked">Liked</a>
<a ui-sref="app.find-users">Find Users</a>

<div>
  <login-buttons></login-buttons>
</div>

<hr>
Categories:
<div>
  <a ui-sref="app.find({ category: '' })">All</a>
</div>
<div ng-repeat="category in navigation.categories">
  <a ui-sref="app.find({ category: category.slug })">{{ category.name }}</a>
</div>