<div class="user">
  <div class="user__info">
    <a class="user__email" ui-sref="app.userProfile({ user: user.user._id })">{{ user.user.email() }}</a>
  </div>
  <span ng-if="!user.editMode" class="user__follow">
    <button class="button" ng-if="user.showFollowButton()" ng-click="user.follow()">Follow</button>
    <button class="button" ng-if="user.showUnfollowButton()" ng-click="user.unfollow()">Unfollow</button>
  </span>
  <span ng-if="user.editMode" class="user__edit">
    <span ng-if="$root.currentUser._id !== user.user._id">
      <input type="checkbox" ng-model="user.user.isAdmin" ng-change="user.setIsAdmin(user.user)"> Is Admin
    </span>
  </span>
</div>