<div class="admin-categories contain">
  <h3>Manage Categories</h3>
  <div class="create">
    <form class="create__form box" ng-submit="adminCategories.createCategory(adminCategories.category)">
      <h3>Create a new Category</h3>

      <label class="field">
        <span class="field__title">Name</span>
        <span class="field__input">
          <input type="text" ng-model="adminCategories.category.name">
        </span>
      </label>
      
      <label class="field">
        <span class="field__title">Description</span>
        <span class="field__input">
          <input type="text" ng-model="adminCategories.category.description">
        </span>
      </label>
      
      <label class="field">
        <span class="field__title">Slug</span>
        <span class="field__input">
          <input type="text" ng-model="adminCategories.category.slug">
        </span>
      </label>

      <div class="ta-r">
        <color-picker color="adminCategories.category.color"></color-picker>
      </div>

      <div class="ta-r">
        <button class="button button--small button--inline">Create</button>
      </div>
    </form>

    <div>
      <category ng-repeat="category in adminCategories.categories" category="category"></category>
    </div>
  </div>

  <div class="current">
    <form class="create__form-edit box" ng-if="adminCategories.selectedCategory" ng-submit="adminCategories.saveCategory(adminCategories.selectedCategory)">
      <h3>Edit Category</h3>

      <label class="field">
        <span class="field__title">Name:</span>
        <span class="field__input">
          <input type="text" ng-model="adminCategories.selectedCategory.name">
        </span>
      </label>

      <label class="field">
        <span class="field__title">Description:</span>
        <span class="field__input">
          <input type="text" ng-model="adminCategories.selectedCategory.description">
        </span>
      </label>

      <label class="field">
        <span class="field__title">Slug</span>
        <span class="field__input">
          <input type="text" ng-model="adminCategories.selectedCategory.slug">
        </span>
      </label>
      
      <div class="ta-r">
        <color-picker color="adminCategories.selectedCategory.color"></color-picker>
      </div>
      
      <div class="ta-r">
        <button class="button button--small button--inline">Save</button>
      </div>
    </form>
  </div>
</div>