<div class="admin-categories">
  <div class="create">
    <h3>Manage Categories</h3>

    <form ng-submit="adminCategories.createCategory(adminCategories.category)">
      
      <label>
        Name
        <input type="text" ng-model="adminCategories.category.name">
      </label>
      
      <label>
        Description
        <input type="text" ng-model="adminCategories.category.description">
      </label>
      
      <label>
        Slug
        <input type="text" ng-model="adminCategories.category.slug">
      </label>

      <color-picker color="adminCategories.category.color"></color-picker>

      <button>Create</button>
    </form>

    <div>
      <category ng-repeat="category in adminCategories.categories" category="category"></category>
    </div>
  </div>

  <div class="current">
    <form ng-if="adminCategories.selectedCategory" ng-submit="adminCategories.saveCategory(adminCategories.selectedCategory)">
      Edit
      <br>

      <label>
        Name:
        <input type="text" ng-model="adminCategories.selectedCategory.name">
      </label>

      <label>
        Description:
        <input type="text" ng-model="adminCategories.selectedCategory.description">
      </label>

      <label>
        Slug
        <input type="text" ng-model="adminCategories.selectedCategory.slug">
      </label>

      <color-picker color="adminCategories.selectedCategory.color"></color-picker>

      <button>Save</button>
    </form>
  </div>
</div>