.admin-categories
  .create
    span(1/2)
  .current
    span(1/2)
    
  .create__form
    background color-light
    border-radius 8px
    padding 20px
    margin-bottom 20px
    
  label
    width 100%
    display inline-block
    margin-bottom 10px
  
  .field__title
    span(1/3)
    
  .field__input
    span(2/3)
    
    input
      width 100%